*{
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700 ;
    font-size: 24px;
}

body{
    justify-content: center;
    align-items: center;
    background-color: hsl(172, 67%, 45%);
}

.wrapper{
    background-color: hsl(0, 0%, 100%);
    margin:50px auto;
    height:600px;
    width:80%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    position:relative;
    justify-content: space-between;
}

.tipjar{
    position:relative;
    width: 100%;
}

.customVal{
    position:absolute;
    width: 33.3%;
    bottom: 3%;
    right: 27.5%;
    border-radius: 10px;
    text-align: center;
    
}
.jar{
    display:inline-block;
    margin: 5px 2px;
    background-color:hsl(183, 100%, 15%);
    min-width: 33%;
    text-align:center;
    color:white;
    border-radius: 10px;
}

.header{
    margin-top:30px;
}

.box1{
    display:inline-block;
}
.box2{
    display:inline-block;
    border: solid black 2px;
    width: 65%;
    height: 100%;
    border-radius: 5%;
    background-color:hsl(183, 100%, 15%);
    padding: 50px;
}
.item1{
    margin-bottom: 10%;
    width: 100%;
}
.header4{
    color: white;
    display:inline-block;
}

.text-mute{
    color:#A9A9A9;
}

.header5{
    color: white;
}


.amountCalc{
    margin-left: 60%;
    color:white;
    font-size: 30px;
}

.box2{
    position:relative;
}
.reset{
    width: 80%;
    background-color: hsl(185, 41%, 84%);
    color:hsl(183, 100%, 15%);;
    position:absolute;
    bottom : 8%;
    left: 50px;
    right: 50px;
    display: block;
}

.reset:hover{
    background-color: orangered;
    color: white;
}















/*Input Settings*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-wrapper{
    position: relative;
    display: inline-block;
}

.dollar-sign {
    position: absolute;
    left: 10px;
    top: 20px;
    transform: translateY(-50%);
    pointer-events: none;
  }

.amount{
    padding-left: 30px;
    text-align:right;
    width: 80%;

}

.wrapper2{
    width:100%;
}
.nofpeople{
    padding-left: 30px;
    text-align:right;
    width: 80%;

}
.person-sign {
    position: absolute;
    left: 10px;
    top: 20px;
    transform: translateY(-50%);
    pointer-events: none;
  }

/*Input Settings*/

.attribution{
    position:absolute;
    bottom:0px;
}


/* Media Queries */

@media only screen and (min-width: 1121.60px) and (max-width: 1496px){
    .wrapper{
        width: 90%;
        height: 100%;
    }
    
    .box2{
        width:60%;
        margin-top: 50px;
        height: 550px;
        padding-top: 5px;
    }

    .reset{
        bottom: 10%;
    }
    .attribution{
        position:absolute;
        bottom: -100px;
        left:10%;
        right: 10%;
    }

    body{
        position: relative;
    }

    .amountCalc{
        font-size:25px;
    }
    
}

@media only screen and (min-width: 684px) and (max-width: 1120px){
    .wrapper{
        width: 80%;
        height: 100%;
        justify-content: center;
    }
    
    .box2{
        width:100%;
        margin-top: 50px;
        height: 500px;
        padding-top: 5px;
    }

    .reset{
        bottom: 8%;
    }
    .attribution{
        position:absolute;
        bottom: -100px;
        left:10%;
        right: 10%;
    }

    body{
        position: relative;
    }
    
}

@media only screen and (min-width: 376px) and (max-width: 683px){
    .wrapper{
        width: 80%;
        height: 100%;
        justify-content: center;
    }
    
    .box2{
        position:relative;
        width:100%;
        margin-top: 50px;
        height: 100%;
        padding-top: 5px;
        padding-left: 20px;
    }

    .child-item{
        width:90px;
    }

    .reset{
        bottom: 1.5%;
        position:absolute;
        display: inline-block;
        left: 60px;
        width: 50%;
        height: 10%;
        font-size: 15px;
        text-align: center;
        padding-bottom: 30px;

    }
    .attribution{
        position:absolute;
        bottom: -100px;
        left:10%;
        right: 10%;
    }

    body{
        position: relative;
    }
    .amountCalc{
        position:absolute;
        right: 20px;
    }

    .text-mute{
        font-size: 15px;
    }
    .header{
        font-size: 15px;
    }
}

/** JS Active Class **/

.active{
    background-color: orangered;
    color:white;
}